@page
@model IndexModel
@{
    ViewData["Title"] = "eSafy";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="~/images/prevenC.jpg" style="width: 100%" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption d-none d-md-block" role="option">
                <div class="text-wrapper" style="width: 100%;">
                    <div class="container">
                        <div class="row">
                            <!-- Desktop -->
                            <div class="col-md-12 box-trial hidden-xs">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p class="lead">
                                            <h3 style="background: rgba(50, 89, 160,0.9); text-align:left; padding-left: 10px; width: 450px; color: #ffffff; text-shadow: none; margin-bottom: 11px;">
                                                Toda una solución de gestión para tu área HSEQ y dirigido a todo tipo de empresa.
                                            </h3>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/carrNube.jpg" style="width: 100%" class="img-responsive" />
            <div class=carousel-caption d-none d-md-block" role="option">
                <p class="lead">
                    <h5 style="background: rgba(190, 122, 15, 0.8); text-align:center; color: #ffffff; font-size:20px;">
                        Conectarte con la nube es poder tener información en el momento desde cualquier parte del mundo.
                    </h5>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/indicadoresCarr.jpg" style="width: 100%" class="img-responsive" />
            <div class="carousel-caption d-none d-md-block" role="option">
                <div class="text-wrapper" style="width: 100%;">
                    <div class="container">
                        <div class="row">
                            <!-- Desktop -->
                            <div class="col-md-12 box-trial hidden-xs">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h2 style=" padding-left: 35px;margin-top: 0px;width: 550px;color: #ffffff; text-shadow: none;background: rgba(121, 20, 156, 0.8);">Mejora tus indicadores y baja tus gastos en multas hoy.</h2>
                                        <div class="break"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
<br />
<br />
<div class="container body-content">
    <div class="row"><br /></div>
    <div class="row">
        <div id="esafy-cont" class="col section-1 section-description wow fadeInDown">
            <h2 style="text-align: center; color:#313131;">¿Por que elegir eSafy Software HSEQ 100% Web?</h2>
        </div>
    </div>
    <div class="row"><br /></div>
    <div class="row"><br /></div>
</div>
<br />
<div class="container body-content marketing">
    <div class="row">
        <div class="col-lg-4 wow fadeInUp">
            <img src="~/images/esaf_pg1.png" class="img-fluid" />
            <br />
            <br />
            <h4>No más papeles y perdida de información</h4>
            <p>Descontaminamos el papeleo constante y tedioso de inspecciones digitalizando el área HSEQ en la nube.</p>
        </div>
        <div class="col-lg-4 wow fadeInUp">
            <img src="~/images/esaf_pg3.png" class="img-fluid" />
            <br />
            <br />
            <h4>No pagues más multas y baja tus gastos</h4>
            <p>No pagues multas por no cumplir con los documentos legales de una auditoría o fiscalización. Almacena toda la información de forma segura y confiable.</p>
        </div>
        <div class="col-lg-4 wow fadeInUp">
            <img src="~/images/esaf_pg2.png" class="img-fluid" />
            <br />
            <br />
            <h4>Disminuye la siniestralidad y mejora tus indicadores</h4>
            <p>Que los trabajadores reporten más, hará que se sientan más seguros y eso bajará tus gastos en cotizaciones.</p>

        </div>
    </div>
    <div class="row"><br /></div>
</div>
<br />
<div class="body-content fondoHh">
    <div class="row featurette"><br /></div>
    <div id="servicio" class="row featurette"><br /></div>
    <div class="container">
        <div class="row">
            <div class="col wow fadeInDown">
                <br />
                <h2 style="text-align: center; color:#313131">Todo un equipo para apoyar tu gestión en el área HSEQ</h2>
                <br />
            </div>
        </div>
        <div class="row featurette"><br /></div>
        <br />
        <div class="row featurette wow fadeInLeft">
            <div class="col-md-2">
                <img class="featurette-image img-fluid mx-auto img-thumbnail" data-src="holder.js/250x250/auto" style="width: 200px;" src="~/images/soporteTelef.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4 wow fadeInLeft">
                <h4 style="color:#0b4196" class="featurette-heading">Soporte en línea.</h4><br />
                <p style="font-size: 14px" class="text-justify">Un equipo completo para <b style="color:#cb7917">atender todas tus dudas en línea</b> o llamando a nuestra red de soporte.</p>
            </div>
            <div class="col-md-4 wow fadeInRight">
                <h4 style="color:#0b4196" class="featurette-heading text-right">Consultoría continua</h4><br />
                <p style="font-size: 14px" class="text-justify">Consultoría al incio de tu servicio para <b style="color:#cb7917">integrar toda tu área HSEQ </b>y dejar el continuo papeleo atrás.</p>
            </div>
            <div class="col-md-2 wow fadeInRight">
                <img class="featurette-image img-fluid mx-auto img-thumbnail" style="width: 200px;" src="~/images/consultoriaServicio.jpg" data-holder-rendered="true">
            </div>
        </div>
        <div class="row featurette"><br /></div>
        <div class="row featurette"><br /></div>
        <div class="row featurette"><br /></div>
        <div class="row featurette"><br /></div>
        <div class="row featurette">
            <div class="col-md-2 wow fadeInLeft">
                <img class="featurette-image img-fluid mx-auto img-thumbnail" data-src="holder.js/250x250/auto" style="width: 200px;" src="~/images/conectividadServicio.jpg" data-holder-rendered="true">
            </div>
            <div class="col-md-4 wow fadeInLeft">
                <h4 style="color:#0b4196" class="featurette-heading">Multiplataforma</h4><br />
                <p style="font-size: 14px" class="text-justify">Te puedes conectar desde cualquier dispositivo, elije tu navegador preferido (Chrome, Firefox, IE9+ o Edge) o desde tu celular. <b style="color:#cb7917">Conectado desde cualquier parte del mundo.</b></p>
            </div>
            <div class="col-md-4 wow fadeInRight">
                <h4 style="color:#0b4196" class="featurette-heading text-right">Sin servidores ni costos adicionales</h4>
                <div><p style="font-size: 14px" class="text-justify">Nosotros nos encargamos de cuidar toda tu información, <b style="color:#cb7917">solamente preocupate de llevar una excelente gestión en el área HSEQ.</b></p></div>
            </div>
            <div class="col-md-2 wow fadeInRight">
                <img class="featurette-image img-fluid mx-auto img-thumbnail" data-src="holder.js/250x250/auto" style="width: 200px;" src="~/images/contectServicio.jpg" data-holder-rendered="true">
            </div>
        </div>
        <div class="row featurette"><br /></div>
        <div class="row featurette"><br /></div>
    </div>
</div>
<br />
<br />
<div class="container body-content">
    <div id="producto" class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading wow fadeInUp">Mejora y digitaliza tu área HSEQ.<span style="color:#832979"> Elije la solución que más se acomode a tu empresa!!</span></h2>
            <br />
            <div class="wow fadeInRight">
                <button class="accordion">
                    <div class="row featurette">
                        <div class="col-sm-4"><img class="img-responsive img-fluid" width="110" src="~/images/pequeñaEmpresa.png" /></div>
                        <div class="col-sm-8">
                            <div class="row featurette">
                                <h3 style="color:#333333">e<span style="color:#cb7917">S</span>afy Pequeña empresa</h3>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </button>
                <div class="panel fondoPanel">
                    <div class="row featurette">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <br />
                                <p class="text-justify" style="font-size:14px">Enfocado para la pequeña empresa y que mejora la gestión en prevención consiguiendo un ambiente seguro desde el nacimiento de tu compañía. Crece junto a nosotros.</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3 style="color:#333333">Funcionalidades</h3>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesPequEmpr">Plan y Gestión HSEQ</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesPequEmpr">Gestión documental</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesPequEmpr">Reportabilidad en Seguridad</h6>
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesPequEmpr">Informes de Gestión HSEQ</h6>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <h4 class="funcionalidadesConsultoria">Consultoría integrada</h4>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <img class="img-responsive img-fluid" width="35" src="~/images/usuariosProducto.png" />
                                        <p style="font-size:12px">1 a 7 Usuarios</p>
                                        <p><a class="btn btn-default botonContacto" href="#contacto">Contactanos</a></p>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mediana Empresa-->
                <button class="accordion">
                    <div class="row featurette">
                        <div class="col-sm-4"><img class="img-responsive img-fluid" width="110" src="~/images/medianaEmpresa.png" /></div>
                        <div class="col-sm-8">
                            <div class="row featurette">
                                <h3 style="color:#333333">e<span style="color:#cb7917">S</span>afy Mediana empresa</h3>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </button>
                <div class="panel fondoPanel">
                    <div class="row featurette">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <br />
                                <p class="text-justify" style="font-size:14px">Pensando en la necesidad de la empresa de hoy con fuerte crecimiento y que no descuida y mejora constantemente la seguridad de todos sus trabajadores.</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3 style="color:#333333">Funcionalidades</h3>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">Plan y Gestión HSEQ</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">Gestión documental</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">Reportabilidad en Seguridad</h6>
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">Informes de Gestión HSEQ</h6>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">K.P.I HSEQ *</h6>
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesMedEmpr">App Mobile - Checklist  *</h6>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <h4 class="funcionalidadesConsultoria">Consultoría integrada</h4>
                                        <p style="font-size:12px; color:#333333;"><strong>* Funcionalidad opcionales</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <img class="img-responsive img-fluid" width="35" src="~/images/usuariosProducto.png" />
                                        <p style="font-size:12px;">3 a 15 Usuarios</p>
                                        <p><a class="btn btn-default botonContacto" href="#contacto">Contactanos</a></p>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gran Empresa-->
                <button class="accordion">
                    <div class="row featurette">
                        <div class="col-sm-4"><img class="img-responsive img-fluid" width="110" src="~/images/granEmpresa.png" /></div>
                        <div class="col-sm-8">
                            <div class="row featurette">
                                <h3 style="color:#333333">e<span style="color:#cb7917">S</span>afy Gran empresa</h3>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </button>
                <div class="panel fondoPanel">
                    <div class="row featurette">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <br />
                                <p class="text-justify" style="font-size:14px">La solución completa para empresas líderes permitiendo un control total sobre le gestión de prevención y seguridad de toda tu compañía.</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <h3 style="color:#333333">Funcionalidades</h3>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">Plan y Gestión HSEQ</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">Gestión documental</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">Reportabilidad en Seguridad</h6>
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">Informes de Gestión HSEQ</h6>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">K.P.I HSEQ</h6>
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="funcionalidadesGranEmpr">App Mobile - Checklist</h6>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <h4 class="funcionalidadesConsultoria">Consultoría integrada</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <img class="img-responsive img-fluid" width="35" src="~/images/usuariosProducto.png" />
                                        <p style="font-size:12px;">7 a 30 Usuarios</p>
                                        <p><a class="btn btn-default botonContacto" href="#contacto">Contactanos</a></p>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 order-md-1 wow fadeInUp">
            <br />
            <br />
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/images/pantallaseSafy.jpg" data-holder-rendered="true">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <a class="btn botonDescargaBrochure" href="~/descargas/Esafy_Brochure_v6.pdf" download="Brochure-eSafy-2018.pdf">Descarga nuestro brochure</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div id="contacto" class="body-content fondoHh">
    <div class="container">
        <div class="row"><br /></div>
        <div class="row">
            <div class="col section-1 section-description wow fadeInUp">
                <h1 class="textoContacto">Dejanos tus datos y nos comunicaremos contigo</h1>
            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row featurette">
            <div class="col-sm"><iframe class="container body-content" src="https://docs.google.com/forms/d/e/1FAIpQLSdIfprRvloD6t7QIyS_HJ1c65eook-jtU97Db-A3QjGbGsQLQ/viewform?embedded=true" width="640" height="1220" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe></div>
        </div>
    </div>
</div>
